@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #292929;
  color: #fff;
  font-family: Lato;
  padding: 20px;
  text-align: left;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  font-weight: normal;
  margin: 20px 0 30px 10px;
  text-transform: uppercase;
}
h1 span {
  display: block;
  font-size: 22px;
  padding-left: 5px;
  text-transform: initial;
}

.tabs {
  float: none;
  list-style: none;
  position: relative;
  margin: 10px;
  text-align: left;
}
.tabs li {
  float: right;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}
.tabs label {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  /* border-radius: 2px 2px 0 0; */
  background: #494949;
  border-radius: 8px 8px;
  border: none;
  color: #adadad;
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight: normal;
  padding: 14px 21px;
  position: relative;
  text-transform: uppercase;
  top: 4px;
  transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: #38344b;
}
.tabs .tab-content {
  background: #f3f3f3;
  color: #292929;
  display: none;
  font-size: 17px;
  left: 0;
  line-height: 25px;
  overflow: hidden;
  padding: 15px;
  position: absolute;
  top: 53px;
  width: 100%;
  z-index: 2;
}
.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
  background: #3866b9;
  color: #e6e4e4;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.tab-content .header {
  color: #332;
  grid-column: 1/-1;
  width: 100%;
}

.tab-content .main-content {
  color: #bcd3ff;
  grid-column: 1/5;
  background-color: #292929;
}

/* ANOTHER TABS MY S=CUSTOM  */
.tabs__container {
  background: linear-gradient(45deg, #520cd4, #e707b7);
  width: 100%;
  height: 80vh;
  padding: 5px;
  margin-bottom: 80px;
  overflow-y: scroll;
  overflow-x: none;
}

.box__container {
  background: linear-gradient(90deg, #535353, #130e0e);
}
.box__position {
  border: 1px solid #9185f5;
  color: #fff;
  font-size: 20px;
  height: 20vh;
  margin: 5px;
  text-align: center;
  width: 20%;
}
.box__position:nth-child(1) {
  position: static;
  background-color: #1f9672;
  /* propiedades 
    top,
    right,
    bottom,
    left,
    z-index,
    NO TIENEN EFECTO SOBER ESTA POSICION DE `STATIC`
     */
}
.box__position:nth-child(2) {
  position: relative;
  background-color: #210327;
  bottom: 10px;
  right: -30px;
}
.box__position:nth-child(3) {
  position: absolute;
  background-color: #b91387;
  top: 2000px;
  right: 0;
}
.box__position:nth-child(4) {
  position: sticky;
  background-color: #2f66db;
  top: 400px;
  left: 500px;
}
.box__position:last-child {
  background: #3636e6;
  position: fixed;
  color: #fff;
  text-align: center;
}
